<div class="dashboard-page">
    <img class="main-banner" src="../../../assets/dashboard_main_banner.png" />
    <br />
    <br />
    <br />
    <div class="container about-us">
        <div class="row">
            <div class="col-3 title">
                Despre noi
            </div>
            <div class="col-9 info">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-3"></div>
            <div class="col-9 info">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <img class="main-banner" src="../../../assets/dashboard_secondary_banner.png" />
    <br />
    <br />
    <br />
    <div class="container donate">
        <div class="title">
            Ajută-ne să creăm o lume mai bună pentru animalele fără stăpân
        </div>
        <div class="content">
            An de an, animalele suferă din cauza neglijenței, a cruzimii și a abuzului.
            Cu ajutorul tău, le putem oferi un viitor mai bun. Ne bazăm pe donații
            și pe strângere de fonduri entru a ne continua misiunea.
        </div>
        <br />
        <div class="button">
            DONEAZĂ
        </div>
    </div>
    <br />
    <br />
</div>