<div class="dashboard-page">
    <img class="main-banner" src="../../../assets/dashboard_main_banner.png" />
    <br />
    <br />
    <br />
    <div class="container about-us">
        <div class="row">
            <div class="col-3 title">
                {{languageService.language.home.aboutUs}}
            </div>
            <div class="col-9 info">
                {{languageService.language.home.contentOneAboutUs}}
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-3"></div>
            <div class="col-9 info">
                {{languageService.language.home.contentTwoAboutUs}}
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <img class="main-banner" src="../../../assets/dashboard_secondary_banner.png" />
    <br />
    <br />
    <br />
    <div class="container donate">
        <div class="title">
            {{languageService.language.home.helpUsTitle}}
        </div>
        <div class="content">
			{{languageService.language.home.helpUsContent}}
        </div>
        <br />
        <div class="button donate-btn" (click)="onNavigateDonatePage()">
            {{languageService.language.home.donateBtn}}
        </div>
    </div>
    <br />
    <br />
</div>
<app-footer></app-footer>