<div class="donate-page">
	<img *ngIf="this.language==='ro'" class="main-banner" src="../../../assets/donate-banner-ro.png" />
	<img *ngIf="this.language==='gb'" class="main-banner" src="../../../assets/donate-banner-en.png" />
	<br />
	<div class="container specifications">
		<br>
		<h1><b>{{languageService.language.donatePage.title}}</b></h1>
		<br>
		<div class="row">
			<div class="col-3">
				<div class="circle">
					<br>
					<h4><b>{{languageService.language.donatePage.cardOne.title}}</b></h4>
					<p>{{languageService.language.donatePage.cardOne.content}}</p>
				</div>
			</div>
			<div class="col-3">
				<div class="circle">
					<br>
					<h4><b>{{languageService.language.donatePage.cardTwo.title}}</b></h4>
					<p>{{languageService.language.donatePage.cardTwo.content}}</p>
				</div>
			</div>
			<div class="col-3">
				<div class="circle">
					<br>
					<h4><b>{{languageService.language.donatePage.cardThree.title}}</b></h4>
					<p>{{languageService.language.donatePage.cardThree.content}}</p>
				</div>
			</div>
			<div class="col-3">
				<div class="circle">
					<br>
					<h4><b>{{languageService.language.donatePage.cardFour.title}}</b></h4>
					<p>{{languageService.language.donatePage.cardFour.content}}</p>
				</div>
			</div>
		</div>
		<br>
	</div>
	<div class="container donate-container">
		<div class="donate-btn" data-bs-toggle="modal" data-bs-target="#paymentModal" (click)="onClearModalData()">
			<h1 class="text"><b>{{languageService.language.donatePage.donateBtn}}</b></h1>
		</div>
	</div>
</div>
<app-footer></app-footer>
<div class="modal fade" id="paymentModal" tabindex="-1" aria-labelledby="paymentModal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="paymentModal">{{languageService.language.donatePage.modal.title}}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>{{languageService.language.donatePage.modal.warning}}</p>
			</div>
			<div class="col-10" style="margin-left: 14px;">
				<h5>{{languageService.language.donatePage.modal.labelInput}}: </h5>
				<select class="form-control" id="role" name="roleSelect" [(ngModel)]="paymentValue" (change)="onChangePaymentValue()" [ngModelOptions]="{standalone: true}">
					<option value={{0}} selected>
						{{languageService.language.donatePage.modal.inputPlaceholder}}
					</option>
					<option value={{20}}> {{languageService.language.donatePage.cardOne.title}}</option>
					<option value={{30}}> {{languageService.language.donatePage.cardTwo.title}}</option>
					<option value={{40}}> {{languageService.language.donatePage.cardThree.title}}</option>
					<option value={{50}}> {{languageService.language.donatePage.cardFour.title}} </option>
				</select>
				<br>
			</div>
			<div class="container">
				<ngx-paypal *ngIf="paymentValue" [config]="payPalConfig"> </ngx-paypal>
			</div>
			<div *ngIf="paymentErrorMessage">
				<div class="alert alert-danger" role="alert">
					{{paymentErrorMessage}}
				</div>
			</div>
			<div *ngIf="paymentSuccessMessage">
				<div class="alert alert-success" role="alert">
					{{paymentSuccessMessage}}
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{languageService.language.donatePage.modal.cancelBtn}}</button>
			</div>
		</div>
	</div>
</div>