.title-page {
    text-align: left;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #052a30;
}

hr {
    background-color: black;
}

html {
    background-color: #f5f5f5 !important;
}


.btn-warning {
    background-color: #F17A32 !important;
}


.readAll:hover {
    color: rgb(75, 75, 77) !important;
    cursor: pointer;
}

.btn-warning {
    background-color: #F17A32 !important;
}

.switch-toggle {
    float: left;
    background: #242729;
}

.switch-toggle input {
    position: absolute;
    opacity: 0;
}

.switch-toggle input+label {
    padding: 7px;
    float: left;
    color: #fff;
    cursor: pointer;
}

.switch-toggle input:checked+label {
    background: #F17A32;
}