.dog-card {
    min-height: 300px;
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    .picture-container {
        width: 100%;
        text-align: center;
        .no-picture {
			width: 60%;
            height: 200px;
			background-size: cover;
        }
        .picture {
            width: 90%;
            height: 200px;
			background-size: cover;
        }
    }
}
.dog-card:hover {
    cursor: pointer;
    border: 1px solid black;
}