<div class="container">

    <div class="row">
        <div class="col">
            <h2 style="margin-left: auto;margin-right: auto;margin-top:20px;">
                Listă câini
            </h2>
        </div>
        <div class="col">
            <button type="button"
                style="float:right;margin-top:20px;color:white;background: #F17A32;border:none;cursor:pointer"
                class="btn btn-raised btn-primary" routerLink="/admin-panel-dashboard/create-dog"> +
                Creează câine
            </button>
            <button type="button back-btn"
                style="float:right;margin-top:20px;margin-right:20px;color:white;background: #F17A32;border:none;cursor:pointer"
                class="btn btn-raised btn-primary" (click)="onNavigateBack()"> &laquo;
                Înapoi
            </button>
        </div>
    </div>
    <hr style="background-color: black ">

    <div class="row">
        <div class="col-4" *ngFor="let dog of dogsModel?.value?.dogs">
            <div class="card dog-card">
                <h5>{{dog?.name}}</h5>
                <br />
                <div class="picture-container">
                    <img class="no-picture" *ngIf="!dog?.images?.length" src="../../../assets/No_image_available.png" />

                </div>
                <div *ngIf="dog?.gender">
                    {{dog?.gender}}
                </div>
                <div style="margin-top: 50px">
                    <button type="button back-btn"
                        style="margin-right: 20px; color:white;background: #F17A32;border:none;cursor:pointer"
                        class="btn btn-raised btn-primary">
                        Modifică
                    </button>
                    <button class="btn btn-raised btn-danger" (click)="this.selectedDogID=dog?._id" data-bs-toggle="modal"
                    data-bs-target="#deleteDogModal">
                        Șterge
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- <div *ngFor="let user of usersModel?.value?.users">
        <div *ngIf="user.name">
            <div>
                <div class="card" id="user" style="margin:5px">
                    <div class="row" style="margin-top:10px;margin-left:10px">
                        <div class="col-9">
                            <h5><b>{{user.name}}</b></h5>
                        </div>
                        <div class="col-1">
                            <span (click)="getUserById(user._id)" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                style="font-size:16px;font-weight:700;cursor:pointer;color:#71868a">
                                Vezi detalii
                            </span>
                        </div>
                        <div class="col-1">
                            <span style="font-size:16px;font-weight:700;cursor:pointer;color:#F17A32"
                                (click)="onNavigateToModifyPage(user._id)">
                                Modifică
                            </span>
                        </div>
                        <div class="col-1">
                            <span *ngIf="role==='admin'" (click)="this.selectedUserID=user?._id" data-bs-toggle="modal"
                                data-bs-target="#deleteDogModal"
                                style="font-size:16px;font-weight:700;cursor:pointer;color:#e2341d">
                                Șterge
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- VIEW DETAILS USER MODAL -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="detailUserModal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="detailUserModal">Detalii Utilizator</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="card viewProfile" *ngIf="userByIDModel?.value?.user">
                        <h5 style="font-size:20px;color:grey;margin-top:15px">
                            Email:
                            <span style="font-size:25px;color:black">
                                {{userByIDModel.value.user.email}}
                            </span>
                        </h5>
                        <h5 style="font-size:20px;color:grey;margin-top:15px">
                            Nume:
                            <span style="font-size:25px;color:black">
                                {{userByIDModel.value.user.name}}
                            </span>
                        </h5>
                        <h5 style="font-size:20px;color:grey;margin-top:15px">
                            Rol:
                            <span style="font-size:25px;color:black;text-transform: capitalize;margin-top:10px">
                                {{userByIDModel.value.user.role}}
                            </span>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- DELETE USER MODAL -->
    <div class="modal fade" id="deleteDogModal" tabindex="-1" aria-labelledby="deleteDogModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteUserModal">Avertisment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Ești sigur că dorești să ștergi acest câine?</p>
                </div>

                <div class="alert alert-success" role="alert" *ngIf="this.deleteDogModel.message">
                    {{this.deleteDogModel.message}}
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anulează</button>
                    <button type="button" class="btn btn-danger" (click)="onDeleteDog()">Șterge</button>
                </div>
            </div>
        </div>
    </div>