.search-card {
    min-height: 300px;
    padding: 20px;

}
.profile-card {
    min-height: 300px;
    padding: 20px;
    .no-picture {
        width: 50%;
        max-height: 245px
    }
    .picture {
        width: 100%;
        max-height: 245px
    }
    .dog-info-icon {
        width: 40px;
        height: auto;
        margin-top: -3px;
        margin-right: 10px;
    }
}
.dogs-list {
    max-height: 300px;
    overflow: auto;
    .dog-card {
        height: 200px;
        margin-top: 20px;
        text-align: center;
        padding: 10px;
        .picture-container {
            width: 100%;
            text-align: center;
            .no-picture {
                max-width: 120px;
                height: auto;
            }
            .picture {
                width: 90%;
                height: 115px
            }
        }
    }
    .dog-card:hover {
        cursor: pointer;
        border: 1px solid black;
    }
}
