.search-card {
    min-height: 300px;
    padding: 20px;

}
.profile-card {
    min-height: 300px;
    padding: 20px;
    .no-picture {
        width: 80%;
        max-height: 200px
    }
    .picture {
        width: 100%;
        max-height: 245px
    }
    .dog-info-icon {
        width: 40px;
        height: auto;
        margin-top: -3px;
        margin-right: 10px;
    }
}
.dogs-list {
	margin-bottom: 30px;
    overflow: auto;
    .dog-card {
		min-height: 300px;
		margin-top: 20px;
		text-align: center;
		padding: 10px;
        .picture-container {
            width: 100%;
            text-align: center;
            .no-picture {
				width: 60%;
				height: 200px;
				background-size: cover;
            }
            .picture {
                width: 90%;
                height: 200px;
				background-size: cover;
            }
        }
    }
    .dog-card:hover {
        cursor: pointer;
        border: 1px solid black;
    }
}
