<div class="container">

    <div class="row">
        <div class="col">
            <h2 style="margin-left: auto;margin-right: auto;margin-top:20px;">
                Listă utilizatori
            </h2>
        </div>
        <div class="col">
            <button type="button"
                style="float:right;margin-top:20px;color:white;background: #F17A32;border:none;cursor:pointer"
                class="btn btn-raised btn-primary" routerLink="/admin-panel-dashboard/create-user"> +
                Creează utilizator
            </button>
            <button type="button back-btn"
                style="float:right;margin-top:20px;margin-right:20px;color:white;background: #F17A32;border:none;cursor:pointer"
                class="btn btn-raised btn-primary" (click)="onNavigateBack()"> &laquo;
                Înapoi
            </button>
        </div>
    </div>
    <hr style="background-color: black ">

    <div class="card"
        style="margin-top:15px ;box-shadow: 2px 3px 6px  rgba(0,0,0,0.16);margin-left:auto;margin-right:auto;cursor: context-menu;">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <h5>Nume:</h5>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name='lastName' placeholder="ex: Doe"
                            [(ngModel)]="search.lastName" (ngModelChange)="onSearch()"
                            [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="col-sm-6">
                    <h5>Prenume:</h5>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="ex: John" name='firstName'
                            [(ngModel)]="search.firstName" (ngModelChange)="onSearch()"
                            [ngModelOptions]="{standalone: true}">
                    </div>
                </div>

            </div>
            <div class="row" *ngIf="settingsModel.value?.User_Roles">
                <div class="col-sm-6">
                    <h5>Rol:</h5>
                    <select class="form-control" id="role" name="roleSelect" [(ngModel)]="search.role"
                        (change)="onSearch()" [ngModelOptions]="{standalone: true}">
                        <option value="" selected>
                            selectează un rol
                        </option>
                        <option *ngFor="let role of settingsModel?.value?.User_Roles" value="{{role}}">
                            {{role}}
                        </option>
                    </select>
                </div>
            </div>
            <br>
            <button class="btn btn-raised btn-danger" (click)="onResetSearch()">
                Resetează filtrele
            </button>
        </div>

    </div>

    <div *ngFor="let user of usersModel?.value?.users">
        <div *ngIf="user.name">
            <div>
                <div class="card" id="user" style="margin:5px">
                    <div class="row" style="margin-top:10px;margin-left:10px">
                        <div class="col-10">
                            <h5><b>{{user.name}}</b></h5>
                        </div>
                        <div class="col-1">
                            <span (click)="getUserById(user._id)" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                style="font-size:16px;font-weight:700;cursor:pointer;color:#71868a">
                                Vezi detalii
                            </span>
                        </div>
                        <div class="col-1">
                            <span *ngIf="role==='admin'" (click)="this.selectedUserID=user?._id" data-bs-toggle="modal"
                                data-bs-target="#deleteUserModal"
                                style="font-size:16px;font-weight:700;cursor:pointer;color:#e2341d">
                                Șterge
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- VIEW DETAILS USER MODAL -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="detailUserModal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="detailUserModal">Detalii Utilizator</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="card viewProfile" *ngIf="userByIDModel?.value?.user">
                        <h5 style="font-size:20px;color:grey;margin-top:15px">
                            Email:
                            <span style="font-size:25px;color:black">
                                {{userByIDModel.value.user.email}}
                            </span>
                        </h5>
                        <h5 style="font-size:20px;color:grey;margin-top:15px">
                            Nume:
                            <span style="font-size:25px;color:black">
                                {{userByIDModel.value.user.name}}
                            </span>
                        </h5>
                        <h5 style="font-size:20px;color:grey;margin-top:15px">
                            Rol:
                            <span style="font-size:25px;color:black;text-transform: capitalize;margin-top:10px">
                                {{userByIDModel.value.user.role}}
                            </span>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- DELETE USER MODAL -->
    <div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="deleteUserModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteUserModal">Detalii Utilizator</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Ești sigur că dorești să ștergi acest utilizator?</p>
                </div>

                <div class="alert alert-success" role="alert" *ngIf="this.deleteUserModel.message">
                    {{this.deleteUserModel.message}}
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anulează</button>
                    <button type="button" class="btn btn-danger" (click)="onDeleteUser()">Șterge</button>
                </div>
            </div>
        </div>
    </div>
    <!-- DELETE USER WARNING -->
    <!-- <div class="modal fade" id="DeleteUserWarning" tabindex="-1" role="dialog" aria-labelledby="detailUserModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailUserModal">
                    {{this.languageService.language.COMPANY_SETTINGS.USERS.DELETE_USER_MODAL_TITLE}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                {{this.languageService.language.COMPANY_SETTINGS.USERS.DELETE_USER_MODAL_CONTENT}}

                <br>

                <div class="alert alert-danger"
                    *ngIf="this.deleteUser.error.tickets || this.deleteUser.error.categories" style="margin-top:10px">
                    {{this.languageService.language.COMPANY_SETTINGS.USERS.DELETE_USER_MODAL_ERROR_1}} <b
                        class="pointer" (click)="ShowCategoriesOrTicketsForDeleteUser()">
                        {{this.languageService.language.COMPANY_SETTINGS.USERS.DELETE_USER_MODAL_ERROR_2}}</b>
                    {{this.languageService.language.COMPANY_SETTINGS.USERS.DELETE_USER_MODAL_ERROR_3}}
                </div>

                <div class="alert alert-danger"
                    *ngIf="!this.deleteUser.error.tickets && !this.deleteUser.error.categories && this.deleteUser.error"
                    style="margin-top:10px">
                    {{this.deleteUser.error}}
                </div>

            </div>




            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    {{this.languageService.language.COMPANY_SETTINGS.USERS.DELETE_USER_MODAL_ERROR_NO}}</button>
                <button type="button" class="btn btn-primary" (click)="DeleteUser()">
                    {{this.languageService.language.COMPANY_SETTINGS.USERS.DELETE_USER_MODAL_ERROR_YES}}</button>
            </div>
        </div>
    </div>
</div> -->