<div class="container">
    <div class="row">
        <div class="col">
            <h2 style="margin-left: auto;margin-right: auto;margin-top:20px;">
                Creează utilizator
            </h2>
        </div>
        <div class="col">
            <button type="button back-btn"
                style="float:right;margin-top:20px;margin-right:20px;color:white;background: #F17A32;border:none;cursor:pointer"
                class="btn btn-raised btn-primary" (click)="onNavigateBack()"> &laquo;
                Înapoi
            </button>
        </div>
    </div>
    <hr style="background-color: black ">
    <div class="card">
        <form>
            <div class="mb-3" class="input-container">
                <label for="nameInput" class="form-label">*Nume:</label>
                <input type="email" class="form-control" name="nameInput" [(ngModel)]="userCreateBody.name">
            </div>
            <div class="mb-3" class="input-container">
                <label for="emailInput" class="form-label">*Adresă de email:</label>
                <input type="email" class="form-control" name="emailInput" [(ngModel)]="userCreateBody.email">
            </div>
            <div class="mb-3" class="input-container">
                <label for="passwordInput" class="form-label">*Parolă:</label>
                <input type="password" class="form-control" name="passwordInput" [(ngModel)]="userCreateBody.password">
            </div>
            <div class="mb-3" class="input-container">
                <label for="languageInput" class="form-label">*Limbă:</label>
                <select name="languageInput" class="form-select" aria-label="Default select example" [(ngModel)]="userCreateBody.language">
                    <option value="{{language.identifier}}"
                        *ngFor="let language of this.settingsModel?.value?.Available_Languages">{{language.name}}
                    </option>
                </select>
            </div>
            <br>
            <div class="alert alert-success" role="alert" *ngIf="this.createUserModel.message">
                {{this.createUserModel.message}}
                <br>
            </div>
            <div *ngIf="arrayOfErrors.length>0">
                <div *ngFor="let error of arrayOfErrors;let i = index">
                    <div class="alert alert-danger" role="alert">
                        {{error}}
                        <br>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary create-btn" (click)="onCreateUser()">Creează</button>
        </form>
    </div>
</div>