<div class="social-media-container">
    <div class="right-side">
        <fa-icon [icon]="faFacebook" class="social-media-icon"></fa-icon>
        <fa-icon [icon]="faInstagram" class="social-media-icon"></fa-icon>
        <fa-icon [icon]="faWhatsapp" class="social-media-icon"></fa-icon>
        <div class="phone-number">0744 809 644</div>
    </div>
</div>
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img class="logo" src='../../assets/animal_shields_logo.png' />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="dashboard">ACASĂ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="" aria-disabled="true">DESPRE NOI</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="" aria-disabled="true">IMPLICĂ-TE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="blog">ARTICOLE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="" aria-disabled="true">SHOP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="" aria-disabled="true">CONTACT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="" aria-disabled="true">DONEAZĂ</a>
                </li>
            </ul>
            <form class="d-flex">
                <fa-icon [icon]="faUser" class="user-icon"></fa-icon>
                <select class="form-select">
                    <option value="ro" selected>RO <img src="../../assets/ro_flag.png"></option>
                    <option value="en">EN <img src="../../assets/en_flag.png"></option>
                </select>
            </form>
        </div>
    </div>
</nav>