.btn-warning{
    background-color:#1B315D !important;
    border-color:#1B315D !important;
}

.btn-warning:hover{
    background-color: rgb(75, 75, 77) !important;
    border-color:rgb(75, 75, 77) !important;
}

.docs:hover{
    color:#1B315D;
    cursor:pointer;
}

img{
    max-width: 300px;
}
