<div class="footer-container">
    <div class="container">
        <br />
        <br />
        <div class="title">Ține legătura cu noi</div>
        <br />
        <br />
        <div class="social-media-icons">
            <fa-icon [icon]="faFacebook" class="social-media-icon"></fa-icon>
            <fa-icon [icon]="faInstagram" class="social-media-icon"></fa-icon>
            <fa-icon [icon]="faWhatsapp" class="social-media-icon"></fa-icon>
        </div>
        <br />
        <br />
        <div class="container">
            <div class="row">
                <div class="col-3 logo-container">
                    <img class="logo" src='../../../assets/animal_shields_logo_white.png'>
                </div>
                <div class="col-3 address-container">
                    <div>ADRESĂ</div>
                    <div>Lorem Ipsum dolem sit amet, consecuteur adipistor elit</div>
                    <br />
                    <div>TELEFON</div>
                    <div>02459 695 324</div>
                    <div>123 432 4324</div>
                </div>
                <div class="col-3 navbar-list">
                    <div class="item">ACASĂ</div>
                    <!-- <div class="item">SHOP</div> -->
                    <!-- <div class="item">DESPRE NOI</div> -->
                    <!-- <div class="item">IMPLICĂ-TE</div> -->
                    <div class="item">BLOG</div>
                    <div class="item">CONTACT</div>
                </div>
                <div class="col-3 donate-container">
                    <div class="item">DONEAZĂ</div>
                    <!-- <div class="item">SPONSORIZEAZĂ UN CĂȚEL</div> -->
                    <div class="item">CÂINI</div>
                    <!-- <div class="item">VOLUNTARIAT</div> -->
                </div>
            </div>
            <br />
            <br />
        </div>
    </div>
</div>