.card {
    padding: 25px;
    .input-container {
        max-width: 400px;
        margin-top: 8px;
    }
    .create-btn {
        cursor: pointer;
        background: #F17A32;
        border: none;
    }
}
